@page "{id}"
@model ShopProject.Pages.Products.DeleteModel
@{
}

<div>
	<form method="post">
	<button type="submit" class="btn btn-danger">Yes</button>
	<a class="btn btn-succes" asp-page="/Products/Products">No</a>
	</form>
</div>
